#blink2 {
    -webkit-animation: blink2 1s linear infinite;
    animation: blink2 1s linear infinite;
}
@-webkit-keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
}

.badge-success{background-color: #28a745; color: #fff}
.badge-warning{background-color: #dc3545; color: #fff}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #242628;
}


.box.quality-box {
    border-top: 3px solid #f39c12;
}